body {
    background: #00091B;
    color: #fff;
}
  
  
@keyframes fadeIn {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% {opacity: 0;}
    
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
  
.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;   
    animation-iteration-count: infinite;
}
  
h1 {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
}
  
.dot {
    color: #4FEBFE;
}
  
p {
    text-align: center;
    font-size: 25px;
    margin: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}